/* Tools */
h1,
h2,
h3,
h4 {
    margin: 0;
}

/* Colors */

/* Resizing */
.carousel {
    padding: 70px;
}
.col-sm i {
    font-size: 30px;
}

#team {
    padding: 70px;
}

/* links */

* a {
    text-decoration: none;
}

/* images */
#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

.card img{
    object-fit: cover;

}

/* Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

